<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="data:image/x-icon;" rel="shortcut icon" />
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/strap.css}">
    <title>New user</title>
</head>

<body class="d-flex flex-column justify-content-between text-center">
    <header th:replace="~{fragments/header :: header(${userName})}"></header>

    <div class="container" style="max-width: 45%; " >
        <br>
        <h3 th:text="'Add new user'" style="text-align: center; font-weight: bolder; "></h3>
        <br>
        <form action="#"    th:action="@{/users/saveUser}"
                            th:object="${newUser}"  method="post">
            <!-- add hidden form field to handle update -->
<!--            <input type="hidden" th:field="*{username}"/>-->

            <table class="table table-primary-flatForm table-hover">
                <colgroup>
                    <col style="width:40%">
                    <col style="width:60%">
                </colgroup>
<!--                <tr>-->
<!--                    <th style="display: none">id:</th>-->
<!--                    <th><input type="hidden" th:field="*{authorities.id}" class="form-control mb-4 col-4" style="display: none; " placeholder="id"></th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th style="display: none">id:</th>-->
<!--                    <th><input type="hidden" th:field="*{authorities.username}" class="form-control mb-4 col-4" style="display: none; " placeholder="id">-->
<!--                    </th>-->
<!--                </tr>-->

                <tr style="max-height: 20px">
                    <th>Username:</th>
                    <td ><input type="text" th:field="*{username}"  style="border-radius: 9px; float: left; width: 300px; height: 35px" placeholder="Username"></td>
<!--                    <p class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->
<!--                    <p th:if="${#fields.hasErrors('username')}">Invalid username</p>-->
<!--                    <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />-->
                </tr>
                <tr style="max-height: 20px">
                    <th>Password:</th>
                    <th ><input type="text" th:field="*{password}"  style="border-radius: 9px; float: left; width: 300px; height: 35px" placeholder="Password"></th>
                </tr>
                <tr>
                    <th>User role:</th>
                    <th ><select th:field="*{authorities.authority}" style="width: 300px; height: 35px; border-radius: 6px; float: left; border: black solid 2px" >
                        <option th:each="role : ${roleList}"
                                th:text="${role}"
                                th:value="${role}">
                        </option>
                    </select>
                    </th>
                </tr>

                <tr>
                <th>Tenant applied to this user name:</th>
                <th ><select th:field="*{tenant.id}" style="width: 200px; border-radius: 10px; float: left" >
                    <option th:each="myTenant : ${tenantList}"
                            th:text="${myTenant.lastName}"
                            th:value="${myTenant.id}">
                    </option>
                </select>
                </th>
                </tr>

            </table>
            <br> <br>

<!--            <button type="submit" class="btn btn-primary col-2" style="margin-left: 25%; float: left">Save</button>-->
            <input type="submit"  class="btn btn-primary col-2" value="Add User">
            <a th:href="@{/users/userList}" class="btn btn-primary col-3" style="float: right; margin-right: 25%">Back to the user list</a>
        </form>
    </div>
        <hr>

    <footer  th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>