<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
<!--    <logger name="org.gyula" level="DEBUG"/>-->
    <logger name="org.gyula" level="INFO"/>
<!--    <logger name="org.springframework" level="DEBUG"/>-->
    <logger name="org.springframework" level="INFO"/>
</configuration>
