<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="data:image/x-icon;" rel="shortcut icon" />

<head>
    <meta charset="UTF-8">
<!--    <title th:if="${tenant.id == null}">Add new tenant</title>-->
    <title th:text="${userName} + ' - gas data'" class="h4 mb-4"></title>

    <link rel="stylesheet" th:href="@{/css/strap.css}">
</head>
<body class="d-flex flex-column justify-content-between text-center">

<header th:replace="~{fragments/header :: header(${userName})}"></header>

    <div class="container" style="max-width: 35%; ">
        <h4 th:text="'Record gas data for the flat' " class="h4 mb-4" style="font-weight: bolder"></h4>

        <form action="#"    th:action="@{/me/saveGasData}"
                            th:object="${gasMeter}" method="post">

            <table class="table table-primary-flatForm table-hover "   >
                <colgroup>
                    <col style="width:40%">
                    <col style="width:60%">
                </colgroup>

                <tr>
                    <th>Previous gas meter</th>
                    <td th:text = "${latestGasMeter.gas_meter}" class="form-control col-2" style="vertical-align: middle"></td>
                </tr>
                <tr>
                    <th>Time of previous recording</th>
                    <td th:text="${#temporals.format(latestGasMeter.dateId, 'YYYY-MM-dd HH:mm')}" class="form-control col-2" style="vertical-align: middle"></td>
                </tr>
                <tr>
                    <th>Actual gas meter</th>
                    <td><input type="number" step="0.01" th:field= "*{gas_meter}" class="form-control col-2"></td>
                </tr>

            </table>
            <div>
                <button type="submit" class="btn btn-primary col-2" style="margin-left: 25%; float: left"
                   th:onclick="if (!(confirm('Are you sure you want to record the gas meter value?'))) return false">
                    Save
                </button>
                <a th:href="@{/me/home}" class="btn btn-primary col-2" style="float: right; margin-right: 25%">Cancel</a>
            </div>
            <br>
            <div>
                <h5 style="margin-top: 70px; margin-bottom: 20px">Record others</h5>
                <a th:href="@{/me/recordElectricity}" class="btn btn-primary col-2" style="margin-right: 20px">Electricity</a>
                <a th:href="@{/me/recordWater}" class="btn btn-primary col-2" >Water</a>
            </div>
            <br>
            <br>
            <a th:href="@{/me/invoice}">Check invoice with actual data</a>

        </form>
    </div>
    <footer  th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>