<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<link href="data:image/x-icon;" rel="shortcut icon" />
<link rel="stylesheet" th:href="@{/css/strap.css}">

<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
</head>
<body class="d-flex flex-column justify-content-between text-center" style="padding-top: 50px">
    <h2>Sorry, your role is not sufficient for this page</h2>

    <div class="container">
        <a th:href="@{/home}" class="btn btn-primary col-2">
            Back to your home page
        </a>
        <br>
        <br>
        <br>
        <!-- add a logout button -->
        <form th:action="@{/logout}">
            <input class="btn btn-outline-primary" type="submit" value="Log Out"/>
        </form>
    </div>

    <footer  th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>