<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link href="data:image/x-icon;" rel="shortcut icon" />
<link rel="stylesheet" th:href="@{/css/strap.css}">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="d-flex flex-column justify-content-between text-center" style="padding-top: 50px">

<nav class="ccsticky-nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="container-xl" style=" text-align: center; margin-top: 100px">
    <h2 th:text="'Welcome, ' + ${username} + '!'" style="alignment: center"></h2>
    <br>
    <br>
    <div sec:authorize="hasRole('ADMIN')" style="text-align: left">
        <a th:href="@{/flats/flatList}" class="btn btn-primary">
            The flat list
        </a>

    </div>
    <br>
    <div sec:authorize="hasRole('ADMIN')" style="text-align: left">
        <a th:href="@{/tenants/tenantList}" class="btn btn-primary">
            The tenant list
        </a>

    </div>
    <br>
    <!-- add a logout button -->
    <form th:action="@{/logout}" method="post">
        <div><input class="btn btn-outline-primary" type="submit" value="Log Out"/></div>
    </form>

</div>

<footer  th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>