<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.w3.org/1999/html">
<link href="data:image/x-icon;" rel="shortcut icon" />
<link rel="stylesheet" th:href="@{/css/strap.css}">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="d-flex flex-column justify-content-between text-center" style="padding-top: 50px">

<header th:replace="~{fragments/header :: header(${myUser.username})}"></header>

<div class="container-xl" style=" text-align: center; margin-top: -10%">
    <h2 th:text="'Welcome, ' + ${myUser.username} + '!'"></h2>
    <br>

<!--    <img class="usrPhoto" th:src="${'userImages/' + myUser.username + '.jpg'}" width="100px" height="100px"-->
<!--         th:alt="${myUser.username}" th:onerror=this.src="userImages/empty.png">-->

    <br>
    <div sec:authorize="hasRole('ADMIN')" style="text-align: center; display: inline-block">
        <a th:href="@{/flats/flatList}" class="btn btn-primary" >
            The flat list
        </a>

        <a sec:authorize="hasRole('ADMIN')" th:href="@{/tenants/tenantList}" class="btn btn-primary">
            The tenant list
        </a>

        <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/userList}" class="btn btn-primary">
            The user list
        </a>
    </div>

    <a th:if="${loggedTenant != null}"
       th:href="@{/flats/addOverheadsData}" class="btn btn-primary">
        Overheads
    </a>

    <br>
    <div  style="text-align: left">

    </div>
    <br>
    <!-- add a logout button -->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <div><input class="btn btn-outline-primary" type="submit" value="Log Out"/></div>-->
<!--    </form>-->

</div>

<footer  th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>